// Resetting
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; /* It will inherit */
}

html {
  font-size: 62.5%; // 1rem = 10px

  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
}
