.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--color-grey-light-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 3.25rem;
  margin-left: 2rem;
  cursor: pointer;
}
