.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, 0.85);
  z-index: 2500;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  @supports (-webkit-backdrop-filter: blur(10px)) or
    (backdrop-filter: blur(10px)) {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba($color-black, 0.3);
  }

  &__content {
    position: absolute;
    @include center;
    width: 75%;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: scale(0.25) translate(-50%, -50%);
    transition: all 0.4s 0.2s;
  }

  &__left {
    width: 33.33%;
    display: table-cell;

    vertical-align: middle;

    @include respond(tab-land) {
      width: 90%;
      margin: 0 auto;
      padding-top: 3rem;
      height: 33.33%;
      display: block;
      text-align: center;
    }
    @include respond(phone) {
      display: none;
    }
  }

  &__right {
    width: 66.6667%;
    display: table-cell;

    @include respond(tab-land) {
      width: 100%;
      height: 66.667%;
      display: block;
    }

    vertical-align: middle;
    padding: 3rem 5rem;
  }

  &__img {
    display: block;
    width: 100%;

    @include respond(tab-land) {
      display: inline-block;
      width: 45%;

      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid $color-grey-light-2;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $color-grey-light-2;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  &:target {
    opacity: 1;
    visibility: visible;
  }

  //   Open states
  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    &:link,
    &:visited {
      color: $color-gray-dark;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      transition: all 0.2s;
      line-height: 1;
    }

    &:hover {
      color: $color-primary;
    }
  }
}
