.header {
  height: 85vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/hero-small.jpg); /* two images => one is gradient color and below that actual image */
  background-size: cover; /* to cover the available width */
  background-position: top; /* to always position our image to top */
  position: relative; /* It will not affect the position but will be reference to its child element */

  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(
      0 0,
      100% 0,
      100% 75vh,
      0 100%
    ); /* clipping only needed portion => (left top, right top, right bottom , left bottom) */
    height: 95vh;
  }

  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
    only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
    only screen and (min-width: 125em) {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)
      ),
      url(../img/hero.jpg);
  }

  @include respond(phone) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }
  &__logo-box /* same as .header__logo-box */ {
    position: absolute; /* It basically reference to its parent element and then we can add top, left, right, position */
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 3.5rem;
  }

  &__text-box {
    position: absolute;
    top: 40%; /* It will put actually 40% from the top of its parent element */
    left: 50%; /* It will put actually 50% from the left of its parent element */
    transform: translate(
      -50%,
      -50%
    ); /* It will shift -50% of its left and -50% of its top, not of its parent element */
    text-align: center;
  }
}
